h1 {
    color: #4d49a7;
    font-family: 'Montserrat', sans-serif;
    font-style:bold 700 italic;
    text-transform: uppercase;
    text-align: left;
}

.porVos {
    color:#cb4ae8;
    font-family: 'Montserrat', sans-serif;
    font-style: italic ;
    font-size: 120%;
}

h2 {
    color: #6b2e78;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

p {
    color: #1c1c21;
    font-family: 'Montserrat', sans-serif;
    font-style: normal ;
    font-size: 90%;
}

// footer
.footer {
    background-color: #c5c1ce;
    text-align: left;
    padding: 10px;
    ;
}

.tituloRedes {
    color:#cb4ae8;
    font-family: 'Montserrat', sans-serif;
    font-style: normal ;
    font-size: 120%;
}

nav ul li a {
    color: grey;
    font-family:'Montserrat', sans-serif;
    font-style: normal ;
}

ul{
    list-style-type: none;
    background-color: #c5c1ce;
}